@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.FirstSubTitle {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300; /* Light */
  margin: 0;
}
